* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.bul i {
  transform: rotate(45deg);
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 385px;
  height: 812px;
  background: #e8eaf0;
  padding: 38px 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  border-radius: 20px;
}

ul {
  list-style: none;
  display: flex;
  column-gap: 25px;
}
button {
  cursor: pointer;
  color: #222630;

  text-align: center;
  font-family: Inter;
  font-size: 21px;
  font-weight: 400;
  border: none;
}
.ul button {
  width: 67px;
  height: 67px;
  background-color: #e3e7ee;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 7px #dbdfeb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul button:nth-child(4) {
  background-color: #d17116;
  box-shadow: 0px 0px 0px 7px #e18826;
}

.calc_2 {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.card_text {
  height: 310px;
  padding: 34px 0px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.calc_3 button {
  width: 67px;
  height: 67px;
  background-color: #e0e3eb;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 7px #dbdfeb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.calc_3 button:nth-child(1) {
  width: 160px;
  height: 67px;
}
.calc_3 {
  display: flex;
  column-gap: 25px;
}
.calc_3 button:nth-child(3) {
  background-color: #d17116;
  box-shadow: 0px 0px 0px 7px #e18826;
}

.calc_1 {
  display: flex;
  column-gap: 25px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.calc_1 .cl {
  width: 110px;
  height: 67px;
  background-color: #545e6f;
  border-radius: 20px;
  box-shadow: 0px 0px 0px 7px #616b7b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 21px;
  font-weight: 400;
  color: white;
}

.bul {
  width: 67px;
  height: 67px;
  background-color: #d17116;
  box-shadow: 0px 0px 0px 7px #e18826;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  color: #525d6d;
  text-align: right;
  font-size: 28px;
  font-weight: 400;
  border: none;
  background-color: #e8eaf0;
}

h1 {
  color: #1d2028;

  text-align: right;
  font-size: 56px;
  font-weight: 400;
}

.data {
  font-size: 28px;
}
